/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #555151;
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #da4e8b;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	font-size: 18px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	font-size: 18px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	color: #da4e8b;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.artwork-grid {
	display: flex;
	justify-content: space-between;
}

.artwork {
	width: 30%;
}

.artwork img {
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
}

.artwork h3 {
	font-size: 24px;
}

button {
	background-color: #da4e8b;
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #fff;
	color: #da4e8b;
}

/* For mobile autoscaling CSS styles */
@media only screen and (max-width: 600px) {
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	nav {
		margin-top: 10px;
		margin-right: 0;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	nav ul li {
		margin-bottom: 10px;
	}

	h1 {
		font-size: 24px;
	}

	main {
		padding: 20px;
	}

	section {
		margin-bottom: 30px;
	}

	h2 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.artwork-grid {
		display: flex;
		flex-wrap: wrap;
	}

	.artwork {
		width: 100%;
		margin-bottom: 20px;
	}
}
